body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    
    main.register{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        border: solid 1px #ccc;
        padding: 20px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);

        form{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 80%;

            input{
                height: 30px;
                border-radius: 7px;
                border: solid 1px #ccc;
            }

            select{
                height: 40px;
                border-radius: 7px;
                border: solid 1px #ccc;
            }

            button{
                height: 40px;
                color: white;
                border-radius: 10px;
                background-color: #0067b1;
                border: solid 1px #0067b1;
                cursor: pointer;
            }

            button:hover{
                transition: 0.5s;
                background-color: #0053a0;
                border: solid 1px #0053a0;
            }

        }
    }

    main.login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        border: solid 1px #ccc;
        padding: 20px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);

        form{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 350px;

            h1{
                text-align: center;
                margin-top: 0px;
            }

            label{
                display: flex;
                justify-content:end;
                align-items: center;

            }

            input{
                height: 30px;
                border-radius: 7px;
                border: solid 1px #ccc;
            }

            button{
                height: 40px;
                color: white;
                border-radius: 10px;
                background-color: #0067b1;
                border: solid 1px #0067b1;
                cursor: pointer;
            }

            button:hover{
                transition: 0.5s;
                background-color: #0053a0;
                border: solid 1px #0053a0;
            }

        }
    
    }
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('../img/background.jpg');
    background-size: cover;
}